@font-face {
    font-family: TiltNeon-Regular;
    font-weight: 400;
    src: local('TiltNeon-Regular'), url(../fonts/TiltNeon-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    font-weight: bold;
    src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    font-weight: lighter;
    src: local('Montserrat-Light'), url(../fonts/Montserrat-Light.ttf);
}
  